.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.book-cover {
    max-width: 350px;
    margin-bottom: 1em; /* Space below the image */
}

@media (min-width: 768px) {
    .header-content {
        flex-direction: row;
        justify-content: flex-end;
    }

    .book-cover {
        margin: 0 0 0 2em; /* Margin to the left of the image */
        order: 2;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    main > section {
        flex: 1;
        margin-right: 2em;
    }

    main > .header-content {
        flex-basis: 30%;
    }
}
