body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #02494a;
    line-height: 1.6;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

.book-cover-wrapper {
    text-align: center;
    margin-bottom: 1em;
}

.book-cover {
    width: 100%;
    height: auto;
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
}

section {
    background-color: #f4f4f4;
    margin: 1em 0;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section h2 {
    color: #02494a;
    margin-top: 0;
}

a {
    color:  #f4f4f4;
    text-decoration: none;
}

a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #02494a;
    color: #f4f4f4;
}

.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: bold; 
    letter-spacing: 0.05em;
    color: #f4f4f4;
    background-color: #02494a;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #147e80;
}

@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
        align-items: stretch; /* Ensures both book cover and sections stretch to the same height */
    }

    .book-cover-wrapper {
        flex: 0 0 auto; /* Allows the book cover to take the necessary width */
        margin-right: 2em;
        text-align: left;
        order: 1; /* Ensure the book cover is first in desktop view */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center the book cover vertically */
    }

    .book-cover {
        height: 100%; /* Ensures the book cover takes the full height of the wrapper */
        max-height: 100%; /* Prevents overflow */
        width: auto; /* Maintain aspect ratio */
        object-fit: contain; /* Ensure the image scales nicely within the container */
    }

    .sections-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        order: 2; /* Ensure sections come after the book cover in desktop view */
    }
}

@media (max-width: 767px) {
    .content-wrapper {
        flex-direction: column;
    }

    .book-cover-wrapper {
        order: 1; /* Ensure the book cover is first in mobile view */
        margin-bottom: 1em;
    }

    .sections-wrapper {
        order: 2; /* Ensure sections come after the book cover in mobile view */
    }

    .book-cover {
        width: 100%;
        height: auto; /* Reset to auto height for mobile view */
    }
}
